---
import { Image } from 'astro:assets';
import bannerTop from '~/assets/images/1000dev/1000dev-detail.png';
import bannerBottom from '~/assets/images/1000dev/1000dev-detail-2.png';
import fundamental from '~/assets/images/1000dev/1000dev-fundamental.svg';
import gdgBali from '~/assets/images/1000dev/1000dev-gdgbali.png';
import devLogo from '~/assets/images/1000dev/1000dev-logo.svg';
import primakara from '~/assets/images/1000dev/1000dev-primakara.png';
import unbi from '~/assets/images/1000dev/1000dev-unbi.png';
import uxdIsland from '~/assets/images/1000dev/1000dev-uxd-island.png';
import webfeeling from '~/assets/images/1000dev/1000dev-webfeeling.png';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="#1000Dev | SaranaTech" hideCta={true}>
  <main class="w-full flex flex-col items-center bg-white">
    <!-- Header Section -->
    <section
      class="w-full max-w-[1170px] mx-auto px-4 xl:px-0 py-10 md:py-[60px]"
    >
      <h1
        class="font-bold text-[32px] md:text-[40px] leading-[48px] md:leading-[60px] tracking-[1px] max-w-[990px] capitalize text-[#101010]"
      >
        #1000Dev: Empowering Bali's Young Talented Developers Through Impactful
        Campaign
      </h1>
    </section>

    <!-- Hero Banner -->
    <section
      class="w-full max-w-[1170px] mx-auto px-4 xl:px-0 mb-10 md:mb-[100px]"
    >
      <div
        class="h-[280px] md:h-[380px] overflow-hidden relative w-full bg-[#343434]"
      >
        <div class="absolute inset-0 pointer-events-none">
          <Image
            src={bannerTop}
            alt="1000Dev Banner"
            class="absolute h-full w-full object-cover object-center"
          />
        </div>

        <div
          class="absolute flex flex-col md:flex-row items-center justify-center inset-0 z-10 p-6 md:p-0"
        >
          <div
            class="flex items-center md:absolute md:left-[80px] md:top-[146px]"
          >
            <Image
              src={devLogo}
              alt="Bali Movement #1000Devs"
              class="w-[200px] md:w-[294px] object-contain"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Content Section -->
    <section
      class="w-full max-w-[1170px] mx-auto px-4 xl:px-0 pb-10 md:pb-[100px] flex flex-col gap-[40px] md:gap-[50px]"
    >
      <!-- About -->
      <div class="flex flex-col gap-[20px] items-start w-full">
        <h2
          class="font-bold text-[20px] leading-[28.6px] tracking-[1px] capitalize text-[#101010]"
        >
          About #1000Dev
        </h2>
        <div
          class="font-normal text-[15px] leading-[28px] text-[#989898] w-full md:max-w-[640px] flex flex-col gap-4"
        >
          <p>
            SaranaTech, in collaboration with industry leaders, developer
            communities, and educational institutions, has spearheaded an
            impactful campaign called #1000Dev to empower young and talented
            developers in Bali. This initiative aims to provide a platform for
            learning, collaboration, and growth, positioning Bali as a hub for
            tech talent.
          </p>
          <p>
            The primary objective of #1000Dev is to identify and support 1000
            talented developers in Bali, fostering their growth and creating
            pathways for success. By investing in the local tech community,
            SaranaTech aims to cultivate a pool of skilled professionals who can
            contribute to the development of Bali's digital economy.
          </p>
          <p>
            Through #1000Dev, SaranaTech has taken a proactive role in
            empowering and supporting young talented developers in Bali. By
            providing access to training, mentorship, networking opportunities,
            and job placements, the campaign has helped shape the future of the
            local tech industry. As a result, Bali's tech community is poised
            for growth and poised to make a significant impact on the digital
            landscape.
          </p>
        </div>
      </div>

      <!-- Engaging -->
      <div class="flex flex-col gap-[20px] items-start w-full">
        <h2
          class="font-bold text-[20px] leading-[28.6px] tracking-[1px] capitalize text-[#101010]"
        >
          Engaging The Developer Community
        </h2>
        <p
          class="font-normal text-[15px] leading-[28px] text-[#989898] w-full md:max-w-[640px]"
        >
          The #1000Dev campaign has garnered extensive support from the tech
          community in Bali, including the active involvement of the Google
          Developer Group Bali. This partnership has brought together
          experienced professionals and aspiring developers, fostering a vibrant
          ecosystem of knowledge sharing and mentorship.
        </p>
      </div>

      <!-- Support -->
      <div class="flex flex-col gap-[20px] items-start w-full">
        <h2
          class="font-bold text-[20px] leading-[28.6px] tracking-[1px] capitalize text-[#101010]"
        >
          Support From Educational Institutions
        </h2>
        <p
          class="font-normal text-[15px] leading-[28px] text-[#989898] w-full md:max-w-[640px]"
        >
          Primakara University and Bali International University (UNBI) are
          among the educational institutions that have rallied behind the
          #1000Dev campaign. They have recognized the importance of nurturing
          and harnessing the potential of their students in the field of
          technology. By offering their resources and expertise, these
          institutions contribute to the campaign's success.
        </p>
      </div>

      <!-- Objectives -->
      <div class="flex flex-col gap-[20px] items-start w-full">
        <h2
          class="font-bold text-[20px] leading-[28.6px] tracking-[1px] capitalize text-[#101010]"
        >
          #1000Dev Key Objectives:
        </h2>
        <ol
          class="font-normal text-[15px] leading-[28px] text-[#989898] w-full md:max-w-[640px] list-decimal pl-5 space-y-4"
        >
          <li>
            <span class="font-semibold text-[#101010]"
              >Workshops and Training Sessions</span
            >
            <br>
            SaranaTech organizes hands-on workshops and training sessions
            conducted by experienced industry professionals. These sessions
            cover various topics, including programming languages, software
            development methodologies, and emerging technologies.
          </li>
          <li>
            <span class="font-semibold text-[#101010]">Bootcamp Program</span>
            <br>
            #1000Dev provides participants with access to a network of mentors
            who offer guidance, support, and industry insights. Mentors play a
            crucial role in nurturing talent and providing personalized advice
            to help young developers overcome challenges and reach their full
            potential.
          </li>
          <li>
            <span class="font-semibold text-[#101010]">Networking Events</span>
            <br>
            SaranaTech organizes networking events that bring together industry
            professionals, entrepreneurs, and developers. These events offer
            opportunities for knowledge-sharing, collaborations, and potential
            career advancements.
          </li>
          <li>
            <span class="font-semibold text-[#101010]"
              >Provision of work tools</span
            >
            <br>
            We provide work tools in the form of laptops / PCs for young talents
            with good coding talent but limited funds to get qualified work
            tools.
          </li>
          <li>
            <span class="font-semibold text-[#101010]"
              >Job Placement and Internship Opportunities</span
            >
            <br>
            Through partnerships with local businesses and organizations,
            #1000Dev facilitates job placements and internship opportunities for
            talented developers, enabling them to gain real-world experience and
            kickstart their careers.
          </li>
        </ol>
      </div>

      <!-- Secondary Banner -->
      <div
        class="h-[380px] overflow-hidden relative w-full bg-[#343434] mt-6 md:mt-10"
      >
        <div class="absolute inset-0 pointer-events-none">
          <Image
            src={bannerBottom}
            alt="1000Dev Secondary Banner"
            class="absolute h-full w-full object-cover object-center"
          />
        </div>

        <div
          class="absolute inset-0 flex flex-col items-center justify-center p-6 text-center z-10 gap-8"
        >
          <h3
            class="font-semibold text-[24px] md:text-[32px] leading-[36px] md:leading-[44px] text-white tracking-[1px] capitalize"
          >
            Helping Bali's best talented young people<br
              class="hidden md:block"
            >
            to become World-class developers
          </h3>
          <div class="flex items-center">
            <Image
              src={devLogo}
              alt="Bali Movement #1000Devs"
              class="w-[120px] md:w-[147px] object-contain"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Partners Section -->
    <section
      class="w-full bg-white flex flex-col items-center px-4 xl:px-0 py-10 md:py-[100px] border-t border-[#E5E5E5]"
    >
      <div
        class="w-full max-w-[1140px] mx-auto flex flex-col items-center gap-10 md:gap-[70px]"
      >
        <h2
          class="font-bold text-[24px] md:text-[26px] leading-[28.6px] tracking-[1px] uppercase text-center text-[#101010]"
        >
          OUR PARTNERS
        </h2>

        <!-- Grid of logos -->
        <div class="grid grid-cols-2 md:grid-cols-3 w-full">
          <!-- Partner 1 -->
          <div
            class="border-b border-r border-[#e5e5e5] h-[160px] md:h-[221px] flex items-center justify-center p-6"
          >
            <Image
              src={gdgBali}
              alt="GDG Bali"
              class="w-[100px] md:w-[150px] object-contain mix-blend-multiply"
            />
          </div>
          <!-- Partner 2 -->
          <div
            class="border-b md:border-r border-[#e5e5e5] h-[160px] md:h-[221px] flex flex-col items-center justify-center p-6 gap-4"
          >
            <Image
              src={webfeeling}
              alt="Webfeeling"
              class="w-[100px] md:w-[150px] object-contain mix-blend-multiply"
            />
          </div>
          <!-- Partner 3 -->
          <div
            class="border-b border-r md:border-r-0 border-[#e5e5e5] h-[160px] md:h-[221px] flex items-center justify-center p-6"
          >
            <Image
              src={uxdIsland}
              alt="UXD Island"
              class="w-[100px] md:w-[150px] object-contain mix-blend-multiply"
            />
          </div>
          <!-- Partner 4 -->
          <div
            class="border-b md:border-b-0 md:border-r border-[#e5e5e5] h-[160px] md:h-[221px] flex items-center justify-center p-6"
          >
            <Image
              src={fundamental}
              alt="Fundamental"
              class="w-[100px] md:w-[150px] object-contain mix-blend-multiply"
            />
          </div>
          <!-- Partner 5 -->
          <div
            class="border-r md:border-r border-[#e5e5e5] h-[160px] md:h-[221px] flex items-center justify-center p-6"
          >
            <Image
              src={unbi}
              alt="UNBI"
              class="w-[100px] md:w-[150px] object-contain mix-blend-multiply"
            />
          </div>
          <!-- Partner 6 -->
          <div
            class="h-[160px] md:h-[221px] flex items-center justify-center p-6"
          >
            <Image
              src={primakara}
              alt="Primakara"
              class="w-[100px] md:w-[150px] object-contain mix-blend-multiply"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
