---
import type { ImageMetadata } from 'astro';
import { getImage, Image } from 'astro:assets';

import { CaseStudyList } from '~/components/case-study/case-study-list';
import { caseStudiesData } from '~/data/case-studies';
import Layout from '~/layouts/Layout.astro';

import heroImg from '~/assets/images/case-study/hero.jpg';

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/case-study/*.{jpeg,jpg,png,gif}',
);

const processedCaseStudies = await Promise.all(
  caseStudiesData.map(async (study) => {
    const imagePath = `/src/assets/images/case-study/${study.heroImage}`;
    if (!images[imagePath])
      throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/images/case-study/*.{jpeg,jpg,png,gif}"`,
      );

    const { default: imageMetadata } = await images[imagePath]();
    const optimizedImage = await getImage({
      src: imageMetadata,
      format: 'webp',
    });
    const imageSrc = optimizedImage.src;

    return {
      id: study.id,
      title: study.title,
      category:
        study.id === 'asia-pacific-csd-group' ? 'Mobile Apps' : 'Website',
      description: study.summary,
      image: imageSrc,
      link: `/case-studies/${study.id}`,
    };
  }),
);
---

<Layout
  title="Case Study - SaranaTech"
  description="Discover our compelling case study on software development, showcasing our expertise in delivering innovative solutions."
>
  <!-- Hero Section -->
  <section
    class="relative flex h-[380px] w-full flex-col items-center justify-center overflow-hidden"
  >
    <Image
      src={heroImg}
      alt="Hero Case Study"
      class="absolute inset-0 z-0 h-full w-full object-cover"
    />
    <div class="absolute inset-0 z-10 bg-[#343434]/20"></div>
    <div class="relative z-20 text-center">
      <h1
        class="text-[40px] leading-tight font-semibold tracking-[6px] text-white uppercase md:text-5xl"
      >
        CASE STUDY
      </h1>
    </div>
  </section>

  <!-- Case Studies Section -->
  <section class="px-6 py-20 md:py-[100px]">
    <div class="container mx-auto w-full max-w-[1170px]">
      <CaseStudyList caseStudies={processedCaseStudies} client:load />
    </div>
  </section>
</Layout>
