---
import { Image } from 'astro:assets';

import imgEcoBeachCity from '~/assets/images/clients/eco-beach-city.png';
import imgPawiba from '~/assets/images/clients/pawiba.png';
import imgSunMotor from '~/assets/images/clients/sun-motor.png';
import imgSunRental from '~/assets/images/clients/sun-rental.png';
import imgUxdIsland from '~/assets/images/clients/uxd-island.png';
import imgWebfeeling from '~/assets/images/clients/webfeeling.png';
---

<div class="relative w-full shrink-0 overflow-clip bg-[#fbfbfb] py-[100px]">
  <div
    class="relative mx-auto flex w-full max-w-[1170px] shrink-0 flex-col items-center px-4 md:px-0"
  >
    <div class="mb-[70px] flex flex-col items-center gap-4">
      <p class="text-center text-[26px] font-bold tracking-[1px] uppercase">
        our trusted clients
      </p>
      <p
        class="max-w-[831px] text-center text-[15px] leading-[28px] font-normal text-[#767676]"
      >
        Our clients appreciate the collaborative approach we take, as we work
        closely with them to gain a deep understanding of their unique
        requirements and goals.
      </p>
    </div>
    <div
      class="grid w-full grid-cols-2 border-t border-l border-[#e5e5e5] md:grid-cols-3"
    >
      <div
        class="flex h-[221px] items-center justify-center border-r border-b border-[#e5e5e5] p-8"
      >
        <Image
          alt="SUN Motor"
          class="max-h-[150px] max-w-[150px] object-contain"
          src={imgSunMotor}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-[221px] items-center justify-center border-r border-b border-[#e5e5e5] p-8"
      >
        <Image
          alt="SUN Rental"
          class="max-h-[150px] max-w-[150px] object-contain"
          src={imgSunRental}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-[221px] items-center justify-center border-r border-b border-[#e5e5e5] p-8"
      >
        <Image
          alt="UXD Island"
          class="max-h-[150px] max-w-[150px] object-contain"
          src={imgUxdIsland}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-[221px] items-center justify-center border-r border-b border-[#e5e5e5] p-8 md:border-b-0"
      >
        <Image
          alt="Eco Beach City"
          class="max-h-[150px] max-w-[150px] object-contain"
          src={imgEcoBeachCity}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-[221px] items-center justify-center border-r border-b border-[#e5e5e5] p-8 md:border-b-0"
      >
        <Image
          alt="Webfeeling"
          class="max-h-[150px] max-w-[150px] object-contain"
          src={imgWebfeeling}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-[221px] items-center justify-center border-r border-b border-[#e5e5e5] p-8 md:border-b-0"
      >
        <Image
          alt="Pawiba"
          class="max-h-[150px] max-w-[150px] object-contain"
          src={imgPawiba}
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
